div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 10px;
  font-size: 20px;
}

.flex-parent {
  display: flex;
  padding: 10px;
}

.jc-center {
  justify-content: center;
}

button.margin-right {
  margin-right: 20px;
}

.color{
 height:50px;
  width:150px;
  border-color: #ffffff;
}
.searchresult{
 height:150px;
  width:150px;

}

.del{
 height:50px;
  width:50px;
  border-radius: 50%;
}

.add{
 height:50px;
  width:50px;
  border-radius: 50%;
}

.search{
 height:50px;
  width:200px;

}


