<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/details.css') }}">



    <title>
        Pelgine
    </title>
</head>
 <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/cc54faf88e.js" crossorigin="anonymous"></script>

<body style="background-color:#f0f2f2">

<nav class="navbar navbar-dark" style="background-color: #031829">
  <!-- Navbar content -->
      <a class="navbar-brand" href="/">Pelgine</a>
</nav>


    <div class="row justify-content-md-center" id="displaypad">


        <div class="col-md-auto">

            <img src="{{artwork[9]}}" >
        </div>
        <ul  style="list-style-type:none;">
             <li>Title: {{artwork[4]}}</li>
            <li>Creator : {{artwork[2]}}</li>
            <li>Biography : {{artwork[3]}}</li>
            <li>Date :{{artwork[5]}}</li>
            <li>Dimensions : {{artwork[6]}}</li>
            <li>Medium : {{artwork[7]}}</li>
            <li>Classification : {{artwork[8]}}</li>
             <li>Source : {{artwork[1]}}</li>
         </ul>


<script src="https://unpkg.com/vanilla-picker@2"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</body>






</html>