<html>
<head>

    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'classic' theme -->


    <title>
        Pelgine
    </title>
</head>
 <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/cc54faf88e.js" crossorigin="anonymous"></script>

<body style="background-color:#f0f2f2">

<nav class="navbar navbar-dark" style="background-color: #031829">
  <!-- Navbar content -->
      <a class="navbar-brand" href="/">Pelgine</a>
</nav>

    <div   class="sticky" style="background-color: #ffffff">


           <div class="flex-parent jc-center" id="container">


        {% for i in range(numcolors) %}

                   <div class="flex-parent jc-center" id="parentc">
      <button   class="color{{i+1}}"  id = "{{i + 1}}" style="background-color:{{palette[i]}}" > </button >
       <button   class="del"  id = "{{i + 1 }}"  onclick="delColor(this, {{i+1}});"> X </button >
                   </div>


        {% endfor %}
                <button   class="add"  onclick="addColor();" > +</button >
                   </div>

        </div>



    </div>


<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>
<p>Some content here for scrolling purposes</p>


<div class="container">


</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>

<script >
colorsleft = {{numcolors}};
var deletedcolors = [];

    // Simple example, see optional options for more configuration.
const pickr1 = Pickr.create({
    el: '.color1',
    theme: 'nano', // or 'monolith', or 'nano'
  // Don't replace 'el' Element with the pickr-button, instead use 'el' as a button.
    // If true, appendToBody will also be automatically true.
    useAsButton: true,
    swatches: [
    ],
    components: {
        // Main components
        preview: true,
        opacity: false,
        hue: true,
        // Input / output Options
        interaction: {
            hex: true,
            rgba: false,
            hsla: false,
            hsva: false,
            cmyk: false,
            input: true,
            clear: false,
            save: false
        }
    }
});

const pickr2 = Pickr.create({
    el: '.color2',
    theme: 'nano', // or 'monolith', or 'nano'
  // Don't replace 'el' Element with the pickr-button, instead use 'el' as a button.
    // If true, appendToBody will also be automatically true.
    useAsButton: true,
    swatches: [
    ],
    components: {
        // Main components
        preview: true,
        opacity: false,
        hue: true,
        // Input / output Options
        interaction: {
            hex: true,
            rgba: false,
            hsla: false,
            hsva: false,
            cmyk: false,
            input: true,
            clear: false,
            save: false
        }
    }
});
const pickr3 = Pickr.create({
    el: '.color3',
    theme: 'nano', // or 'monolith', or 'nano'
  // Don't replace 'el' Element with the pickr-button, instead use 'el' as a button.
    // If true, appendToBody will also be automatically true.
    useAsButton: true,
    swatches: [
    ],
    components: {
        // Main components
        preview: true,
        opacity: false,
        hue: true,
        // Input / output Options
        interaction: {
            hex: true,
            rgba: false,
            hsla: false,
            hsva: false,
            cmyk: false,
            input: true,
            clear: false,
            save: false
        }
    }
});
const pickr4 = Pickr.create({
    el: '.color4',
    theme: 'nano', // or 'monolith', or 'nano'
  // Don't replace 'el' Element with the pickr-button, instead use 'el' as a button.
    // If true, appendToBody will also be automatically true.
    useAsButton: true,
    swatches: [
    ],
    components: {
        // Main components
        preview: true,
        opacity: false,
        hue: true,
        // Input / output Options
        interaction: {
            hex: true,
            rgba: false,
            hsla: false,
            hsva: false,
            cmyk: false,
            input: true,
            clear: false,
            save: false
        }
    }
});
const pickr5 = Pickr.create({
    el: '.color5',
    theme: 'nano', // or 'monolith', or 'nano'
  // Don't replace 'el' Element with the pickr-button, instead use 'el' as a button.
    // If true, appendToBody will also be automatically true.
    useAsButton: true,
    swatches: [
    ],
    components: {
        // Main components
        preview: true,
        opacity: false,
        hue: true,
        // Input / output Options
        interaction: {
            hex: true,
            rgba: false,
            hsla: false,
            hsva: false,
            cmyk: false,
            input: true,
            clear: false,
            save: false
        }
    }
});





function delColor(el, id){

if (colorsleft > 1){
var element = el; // remove calling delete button
element.remove()

var colorbtn = document.getElementById(id); // remove color button
var parent = colorbtn.parentNode;
colorbtn.remove();
parent.remove();

colorsleft = colorsleft - 1;
deletedcolors.push(id);

}

};

function addColor(){

if (colorsleft < 5){

//var test = document.querySelectorAll('[id=parentc]');
//console.log(test);

var newid = deletedcolors.pop();


var container = document.getElementById("container");
var coloranddel = document.getElementById("parentc");

var newcoloranddel =  coloranddel.cloneNode(true);
var colorbtn = newcoloranddel.children[0];
var delbtn = newcoloranddel.children[1];

console.log(newcoloranddel);
console.log(colorbtn);
console.log(delbtn);

colorbtn.className = "color"+ newid;
colorbtn.setAttribute("id", newid);
colorbtn.attributes['style'].textContent='background-color:#f0f2f2';
delbtn.setAttribute("id", newid);
delbtn.setAttribute( "onClick", "delColor(this, " + newid+ ");" );

var addbtn =  document.getElementsByClassName('add')[0];
container.insertBefore(newcoloranddel, addbtn);

colorsleft = colorsleft + 1;


}


};


</script>


</body>






</html>