
.flex-parent {
  display: flex;
  padding: 5px;
}
#displaypad{
padding: 5px;

}



.jc-center {
  justify-content: center;
}

.pcr-button{
  height:100px;
  width:150px;
}



button.margin-right {
  margin-right: 20px;
}

.color1{
 height:50px;
  width:150px;
  border-color: #ffffff;
}
.color2{
 height:50px;
  width:150px;
  border-color: #ffffff;
}
.color3{
 height:50px;
  width:150px;
  border-color: #ffffff;
}
.color4{
 height:50px;
  width:150px;
  border-color: #ffffff;
}
.color5{
 height:50px;
  width:150px;
  border-color: #ffffff;
}
.searchresult{
 height:150px;
  width:150px;

}


.add{
 height:50px;
  width:50px;
  border-radius: 50%;
}

.search{
 height:50px;
  width:200px;
}

img {
    max-width: 500px;
    max-height: 500px;
}

 div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}